src/conf/xml-resources/web-service-references/AlfaService/wsdl/localhost_33330/WEBANK/AlfaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Alfa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Alfa/" name="AlfaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Alfa/" schemaLocation="http://localhost:33330/WEBANK/AlfaService?xsd=1" />
</xsd:schema>
</types>
<message name="Info">
<part name="parameters" element="tns:Info" />
</message>
<message name="InfoResponse">
<part name="parameters" element="tns:InfoResponse" />
</message>
<message name="mailCheck">
<part name="parameters" element="tns:mailCheck" />
</message>
<message name="mailCheckResponse">
<part name="parameters" element="tns:mailCheckResponse" />
</message>
<message name="ConnectionNQ">
<part name="parameters" element="tns:ConnectionNQ" />
</message>
<message name="ConnectionNQResponse">
<part name="parameters" element="tns:ConnectionNQResponse" />
</message>
<portType name="Alfa">
<operation name="Info">
<input wsam:Action="http://Alfa/Alfa/InfoRequest" message="tns:Info" />
<output wsam:Action="http://Alfa/Alfa/InfoResponse" message="tns:InfoResponse" />
</operation>
<operation name="mailCheck">
<input wsam:Action="http://Alfa/Alfa/mailCheckRequest" message="tns:mailCheck" />
<output wsam:Action="http://Alfa/Alfa/mailCheckResponse" message="tns:mailCheckResponse" />
</operation>
<operation name="ConnectionNQ">
<input wsam:Action="http://Alfa/Alfa/ConnectionNQRequest" message="tns:ConnectionNQ" />
<output wsam:Action="http://Alfa/Alfa/ConnectionNQResponse" message="tns:ConnectionNQResponse" />
</operation>
</portType>
<binding name="AlfaPortBinding" type="tns:Alfa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Info">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mailCheck">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConnectionNQ">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AlfaService">
<port name="AlfaPort" binding="tns:AlfaPortBinding">
<soap:address location="http://localhost:33330/WEBANK/AlfaService" />
</port>
</service>
</definitions>