src/conf/xml-resources/web-service-references/betaService/wsdl/localhost_33330/WEBANK/betaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://beta/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://beta/">

<xs:element name="ConnectionNE" type="tns:ConnectionNE" />

<xs:element name="ConnectionNEResponse" type="tns:ConnectionNEResponse" />

<xs:element name="transfer" type="tns:transfer" />

<xs:element name="transferResponse" type="tns:transferResponse" />

<xs:complexType name="transfer">
<xs:sequence>
<xs:element name="pass" type="xs:string" minOccurs="0" />
<xs:element name="usr" type="xs:string" minOccurs="0" />
<xs:element name="acc_from" type="xs:string" minOccurs="0" />
<xs:element name="acc_to" type="xs:string" minOccurs="0" />
<xs:element name="amount" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConnectionNE">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConnectionNEResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>